{% extends "base.html.twig" %}

{% block title %}Shuffle{% endblock %}

{% block content %}
<h1>Card</h1>

<p>Balndad Kortlek.</p>

<p>Åter till <a href="{{ path("card-home") }}"> startsida för kort</a>.</p>

{% endblock %}
