body {
    background-color: lightgray;
}

body {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    border-bottom: 4px double #ccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

  li a:hover {
    background-color: #111;
}

nav {
    max-width: 600px;
}

.site-header {
    background-size: cover;
    height: 100px;
    text-align: center;
}

.site-title {
    font-size: 2em;
}

.row {
    display: flex;
    background-color: pink;
}

.row > div {
    background-color: red;
    margin: 10px;
    padding: 20px;
    text-align: left;
}