body {
    background-color: rgb(161, 190, 196);
}

body {
    margin: 0 auto;
    max-width: 800px;
}

main {
    padding-bottom: 50px;
}

h1 {
    border-bottom: 4px double #ccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(8, 50, 59);
}

ul .report-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a .report-list {
    color: black;
    text-decoration: underline;
}

li a:hover {
    background-color: rgb(0, 11, 14);
}

nav {
    max-width: 800px;
}

.site-header {
    background-size: cover;
    height: 100px;
    text-align: center;
}

.site-title {
    font-size: 2em;
}

.row {
    display: flex;
    background-color: rgb(109, 165, 177);
}

.row > div {
    background-color: rgb(161, 190, 196);
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(109, 165, 177);
    color: rgb(3, 18, 27);
    text-align: center;
    padding: 10px;
}

.me-img {
    margin: 4em;
    width: 300px;
    float: left;
    border:none;
}

.crazy {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.lucky {
    background-image: linear-gradient(to right, pink, red);
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}