{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Kursen MVC och dess syfte.</p>
        </div>
        <div class="col-md-6">
            <a href="https://github.com/dbwebb-se/mvc" target="_blank">MVCs Github repo</a>
            <a href="https://github.com/Maal21maat/report-mvc" target="_blank">Maries Github repo</a>
        </div>
    </div>
{% endblock %}