{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <p>2 kolumner: Om kursen och dess syfte. Länk till kurs-rep och mitt repo.</p>
{% endblock %}