{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <small> - om kursen, länkar till repos, tillkom kmom01 -</small>
    <div class="row">
        <div class="col-md-6">
            <p>
                Denna information är saxad från kursens egen hemsida: 
            </p>
            <p>
                Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar på objektorienterade programmeringstekniker 
                i programmeringsspråket PHP. Klassiska objektorienterade konstruktioner hanteras tillsammans med 
                objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.
            </p>
            <p>
                Se gärna <a href="https://github.com/dbwebb-se/mvc" target="_blank">MVCs Github repo</a> eller kursens
                hemsida <a href="https://dbwebb.se/kurser/mvc-v2" target="_blank">MVC på Dbwebb</a>.
            </p>
        </div>
        <div class="col-md-6">
            <p>
                Jag som läser kursen har ett eget repo med mina delar, den uppdateras varje vecka med nya funktioner, 
                titta gärna på <a href="https://github.com/Maal21maat/report-mvc" target="_blank">Maries Github mvc-repo</a>.
            </p>
        </div>
    </div>
{% endblock %}