{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Här är jag. Lite text om mig kommer att komma. Eller lite text om någon annan.</p>
    <a href="{{ asset('img/girl.png') }}">
        <img src="{{ asset('img/girl.png') }}" alt="">
    </a>
{% endblock %}