{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>

<figure class="right">
    <img src="img/me.jpg" width="250px" alt="Jag">
    <figcaption><a href="{{ absolute_url("img/me.jpg") }}">Stora jag</a></figcaption>
</figure>

<p>
    Hej och välkommen till min hemsida. Jag är en skidåkare född och bosatt i Stockholm. Alltså helt fel del av landet. 
    Backarna här i stan har i bästa fall öppet några dagar per år. Som tur var hade (men jösses jag HAR föräldrar fortfarande, men det var längesen man såg dem åkandes skidor utför) 
    jag föräldrar som gillade snö och vinter och därmed skaffade sig ett litet andelshus några mil från Åre. 
</p>

<figure class="left">
    <img src="img/liten.jpg" width="100px" alt="Mini-me">
    <figcaption><a href="{{ absolute_url("img/liten.jpg") }}">Mini-me</a></figcaption>
</figure>

<p>
    I denna lilla ort fanns det ganska få hus och inte alls så många invånare. Bua (butiken för den som inte varit i Jämtland) var ombud för både systembolag och apotek. 
    Utanför fanns byns enda bensinpump och på vinden var det samlingslokal. Så mysigt och gulligt. 
    Granne låg Sveriges minsta postkontor som du kan läsa mer om på <a href="{{ absolute_url("https://digitaltmuseum.se/011014739985/posten-i-ottsjo-kassaexpeditionen-forestas-av-hilkka-eriksson-och-ar-idag") }}">Postens digitala museum</a>.
</p>



<p>
    Nåväl, nu var det ju inte det vi skulle prata om utan skidåkningen. Jämtland och Åre-området drillade mig som liten pjatt. 
    Kanske jag blev lite bortskämd i tidig ålder på ett sådant stort och fint skidområde. Jag fortsatte åka i många år och har avverkat Europa i skidåkning. 
    Ett år var jag i Colorado, men på sommaren. Man kan verkligen undra hur denna resebokning kom till, men jag har lovat mig själv att återkomma senare. En vinter. 
</p>



<p>
    Numera får jag den stora äran att lära mitt eget barn att åka skidor. Intresset har varit lite svalt, men det kommer nog. Så kul att få susa ner för backarna ihop så småningom.
</p>




<p>
    Jag drömmer om att en gång vara med i OS, kanske dessa drömmar börjar bli ouppnådda. Så jag såg mig om och tänkte vad ska jag då göra? 
    Jag börjar studera igen. Så här är jag. Jag gillar det så mycket! Det är svårt. Jag har för få timmar på mitt dygn, men vad gör det? Allt går. Utom spädbarn. 
    <strong>Enjoy!</strong>
</p>







{% endblock %}
