{% extends "base.html.twig" %}

{% block title %}Dagens Quote{% endblock %}

{% block body %}
    <h1>Dagens Quote</h1>
    <p>Today, your quote is ( a number, but sson text): </p>
    <p>{{ quote }}</p>
{% endblock %}